*{margin:0;}

body{
   background:#F2F2F2;
   font-size:16px;
}
#contenido{
   background:#fff;
   margin:20px auto;
   overflow:hidden;
   padding:40px ;
 border:1px solid #2E9AFE;
   width:90%;
   -webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
}
input, select{
   background:#fff;
   border:1px solid #2E9AFE;
   padding:5px;
}
